@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");

:root {
  --red: #ff5050;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: #000;
}

.home {
  background-image: linear-gradient(
    180deg,
    #ff5050 30%,
    #ffffff 30%,
    #ffffff 50%,
    #ff5050 50%,
    #ff5050 80%,
    #ffffff 80%,
    #ffffff 100%
  );
  background-size: 400px 400px;
  height: 100vh;
}

.home-container {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.home-container h1 {
  font-size: 75px;
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
}

.btn-play {
  background: #fff;
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  width: 272px;
  height: 90px;
  position: absolute;
  top: 415px;
  cursor: pointer;
  outline: none;
}

.btn-play:hover {
  background: rgb(255, 246, 246);
  transition: all ease-in-out 0.3s;
}

.home-container h3 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 630px;
}

/* Game */
.game {
  display: flex;
}

/* Sidebar */
.sidebar {
  background: var(--red);
  width: 457px;
  height: 100vh;
}

.characters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.character {
  margin: 2rem 0;
}

.character img {
  width: 202px;
  height: 202px;
}

.character h3 {
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 0.4rem;
  color: #fff;
}

.game-container {
  width: 100%;
}

.time {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.time h3 {
  font-size: 80px;
}
